.main{
  margin-top: 10px;
}

.container{
  width: 1024px;
  height: 700px;
  display: grid;
  grid-template-rows: 350px 350px;
  grid-template-columns: 1fr 2fr;
  margin: 0 auto;
  gap: 10px;
}

.block{
  background-color: lightgrey;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}



.block-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  padding: 0px 10px;
  background-color: darkslategrey;
  color: white;
}
//----------------------------menu

.menu-info-display{
  display: flex;
  justify-content: center;
  align-items: center;
  color: orangered;
}


.items-list{
  margin-top: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 10px;
}

.navbar{
  background-color: darkslategray; 
}

.navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.orders-list{
  padding: 0px 10px 25px 10px;
  overflow-y: scroll;
  height: 280px;
}

